.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
*~

man/user-dirs.conf.5
man/user-dirs.defaults.5
man/user-dirs.dirs.5
man/xdg-user-dir.1
man/xdg-user-dirs-update.1

po/remove-potcdate.sed
po/stamp-po
po/xdg-user-dirs.pot
po/POTFILES
*.gmo

*.o

xdg-user-dir
xdg-user-dirs-update

xdg-user-dirs-*.tar*


